body {
    background-image: url(imagens/wallpaper001.jpg);
}

.quadrado {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 300px;
    width: 300px;
}

#q1 {
    background-color: skyblue;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3 {
    background-image: url('imagens/pattern003.png');
}