body {
    background-image: url(https://www.rbsdirect.com.br/imagesrc/35660570.jpg?w=1024&h=768&a=c);
    background-size: 100px;
    background-repeat: no-repeat;
    height: 98vh;
    background-position: center center;
}