#container {
    display: flex;
    height: 500px;
    background-color: purple;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#conteudo {
    height: 200px;
    background-color: yellow;
    width: 400px;
    
}